body {
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

aside {
    margin-left: auto;
}

h1 {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
}

header img {
    width: clamp(100px, 20%, 120px);
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

aside ul li img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}